/*test start*/


.hide{
    display: none;
}
.show{
    display: block;
}




/*test end*/


img {
    max-width: 100%;
}

.navbar {
    padding-bottom: 25px;
    padding-top: 25px;
}

.navbar .navbar-brand {
    color: #fed136;
    font-style: italic;
}

.navbar .navbar-nav .nav-link {
    color: #fff;
    padding: 20px;
}

.navbar .navbar-nav .nav-link.disabled {
    color: #eee;
}

.navbar .navbar-nav .active > .nav-link {
    color: #fed136;
}

.navbar.navbar-bg {
    background: rgba(33, 37, 41, 0.51);
    padding-bottom: 0;
    padding-top: 0;
}

.navbar .navbar-toggler {
    color: #fed136;
}

.navbar .navbar-toggler[aria-expanded='true'] {
    /*.navbar .navbar-toggler:not([aria-expanded='false']){*/
    background: rgba(254, 209, 54, 0.23);
}

.title h2 {
    font-size: 40px;
    margin: 0 0 15px;
    text-transform: uppercase;
    font-weight: bold;
}

.title h3 {
    font-size: 16px;
    font-style: italic;
    margin: 0 0 75px;
}

.title {
    text-align: center;
}

.title.white h2 {
    color: #eeeeee;
}

.title.white h3 {
    color: #6c757d;
}

.btn-yellow {
    color: #fff;
    background: #fed136;
    border-color: #fed136;
    font-weight: bold;
    padding: 20px 40px;
    font-size: 18px;
}

.btn-yellow:hover {
    color: #fff;
    background: #fed810;
}

.btn-yellow:active, .btn-yellow:focus {
    box-shadow: 0 0 0 0.2rem rgba(254, 209, 54, 0.51)
    /*background: rgba(254, 209, 54, 0.51);*/
}

.section-1 {
    padding: 300px 0 200px;
    background: url("../img/header-bg.jpg");
    background-size: cover;
    color: white;
}

.section-1 p {
    font-size: 40px;
    margin-bottom: 25px;
}

.section-1 h1 {
    font-size: 75px;
    margin-bottom: 50px;
}

.section-2 {
    padding: 100px 0;
}

.section-2 .item .item-img {
    margin-bottom: 15px;
}

.section-2 .item .item-img i:first-child {
    color: rgb(254, 209, 54);
}

.section-2 .item h4 {
    margin-bottom: 15px;
}

.section-3 {
    background: #ccc;
    padding: 100px 0;
}

.section-3 .item .item-img {
    position: relative;
}

.section-3 .item {
    margin-bottom: 30px;
}

.section-3 .item .item-img:hover::before {
    opacity: 1;
}

.section-3 .item .item-img::before {
    content: '\f067';
    position: absolute;
    background: rgba(254, 209, 54, .9);
    width: 100%;
    height: 100%;
    color: white;
    top: 0;
    left: 0;
    font-size: 60px;
    padding: 65px 0;
    font-family: 'Font Awesome 5 Free', sans-serif;
    opacity: 0;
    transition: 0.2s;
}


.section-3 .item .item-content {
    padding: 20px;
    background: #ffffff;
}

.section-3 .item .item-content * {
    margin: 0;
}

.section-3 .item .item-content h4 {
    font-weight: 700;
}

.section-3 .item .item-content p {
    font-style: italic;
    font-size: 16px;
}

.section-4 {
    padding: 100px 0;
}

.section-4 .timeline {
    padding: 0 10px;
    position: relative;
}

.section-4 .timeline::before {
    content: '';
    position: absolute;
    width: 2px;
    height: 100%;
    background: #eeeeee;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    z-index: -1;
}

.section-4 .timeline .point {
    position: relative;
    margin-bottom: 100px;
    min-height: 170px;
}

.section-4 .timeline .point::after {
    content: '';
    display: table;
    clear: both;
}

.section-4 .timeline .point-img {
    position: absolute;
    border-radius: 50%;
    width: 170px;
    height: 170px;
    background: #eeeeee;
    padding: 7px;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
}

.section-4 .timeline .point-img img {
    border-radius: 50%;
}

.section-4 .timeline .point-panel {
    max-width: calc(100% - 50% - 170px / 2);
    text-align: right;
    padding-left: 100px;
    padding-right: 20px;

}

.section-4 .timeline .point:nth-child(even) .point-panel {
    float: right;
    text-align: left;
    padding-left: 20px;
    padding-right: 40px;
}

.section-4 .timeline .point-panel p {
    color: #666;
}

.section-4 .timeline .point:last-child {
    margin-bottom: 0;
    text-align: center;
}

.section-4 .timeline .point:last-child .point-img {
    border: 7px solid #eeeeee;
    background: #fed136;
    color: #ffffff;
    padding: 35px
}

.section-5 {
    background: #f6f6f6;
    padding: 100px 0;
}

.section-5 .item {
    margin-bottom: 30px;
}

.section-5 .item .item-img {
    border: 7px solid #eeeeee;
    border-radius: 50%;
    width: 225px;
    height: 225px;
    overflow: hidden;
    margin: 0 auto 25px;

}

.section-5 .item .item-icon a {
    color: #000000;
    font-size: 24px;
    transition: 0.5s;

}

.section-5 .item .item-icon a:hover {
    color: #fed136;
}

.section-6 {
    background: #ffffff;
    padding: 50px 0;
}

.section-6 .row .item-logo {
    margin: 7px;
    max-width: 100%;
}

.section-7 h2 {
    font-size: 40px;
    margin: 0 0 15px;
    /*color: #ffffff;*/
}

/*.section-7 h3 {*/
/*    color: #6c757d;*/
/*}*/

.section-7 {
    background: url("../img/map-image.png");
    background-size: cover;
    background-color: #1b1e21;
    max-width: 100%;
    padding: 100px 0;
}

.section-7 .contact-form input {
    height: auto;
}

.section-7 .contact-form .form-control::placeholder {
    font-size: 18px;
    font-weight: bold;
    color: #bbb;

}

.section-7 .contact-form textarea {
    height: 100%;
    resize: none;
}

.section-7 .contact-form .form-group {
    margin-bottom: 30px;
}

.section-7 .contact-form .form-control {
    padding: 20px;
}


/*.section-7 .container {*/
/*    padding-bottom: 95px;*/
/*}*/

/*.section-7 .container .title {*/
/*    padding-top: 100px;*/
/*}*/

/*.section-7 button {*/
/*    background-color: #fed136;*/
/*    align-self: center;*/
/*    border: none;*/
/*    min-height: 70px;*/
/*    min-width: 220px;*/
/*    font-weight: bold;*/
/*    font-size: 17px;*/
/*    padding: 20px 40px;*/
/*}*/

/*.section-7 form {*/
/*    max-width: 100%;*/
/*    max-height: 100%;*/
/*}*/
/*.section-7 input {*/
/*    height: 67px;*/
/*    font-weight: bold;*/
/*    margin-bottom: 26px;*/
/*}*/
/*.section-7 textarea{*/
/*    font-weight: bold;*/
/*    padding-top: 15px;*/
/*}*/

.footer {
    background: #ffffff;
    padding: 25px;
    text-align: center;
}

/*.footer .col-md-4 {*/
/*    padding-top: 10px;*/
/*}*/

.footer .list-inline-item a {
    color: #c69500;
}

/*.footer .item {*/
/*    margin-bottom: 30px;*/
/*}*/

.footer .item-icon a {
    color: #000000;
    font-size: 24px;
    transition: 0.5s;
    border-radius: 50%;
}

.footer .item-icon a:hover {
    color: #fed136;
}

/*Адаптація мобільна*/

@media (max-width: 992px) {
    .section-3 .item .item-img img {
        width: 100%;
    }

    .section-4 .timeline .point-panel {
        padding-left: 10px;
        padding-right: 20px;
    }

    .navbar.navbar-bg {
        padding-bottom: 15px;
        padding-top: 15px;
    }
}

@media (max-width: 768px) {

    .section-4 .timeline .point-panel {
        padding-left: 155px !important;
        /*max-width: calc(100% - 170px);*/
        max-width: inherit;
        text-align: left;
    }

    .section-4 .timeline .point:nth-child(even) .point-panel {
        float: none;
        padding-right: 20px;
    }

    .section {
        padding-top: 110px;
        padding-bottom: 75px;
    }

    .section-4 .timeline::before {
        left: 62px;
        right: auto;
        height: 90%;
    }

    .section-4 .timeline .point-img {
        right: auto;
        height: 100px;
        width: 100px;
    }

    .section-4 .timeline .point-img:last-child h4 {
        font-size: 10px;
    }

    .section-4 .timeline .point:last-child .point-img {
        padding: 20px;
    }

    .section-4 .timeline .point-img:last-child h4 {
        font-size: 13px;
    }

    .btn-yellow {
        width: inherit;
    }
}
@media (max-width: 575px) {
    .section-6 .container{
        text-align: center;
    }
}